<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="RT.CommandLine" version="2.1.163" targetFramework="net472" />
  <package id="RT.Json" version="2.0.1768" targetFramework="net472" />
  <package id="RT.Lingo.Base" version="2.0.1768" targetFramework="net472" />
  <package id="RT.PostBuild" version="2.0.1768" targetFramework="net472" />
  <package id="RT.Serialization" version="2.0.1768" targetFramework="net472" />
  <package id="RT.Serialization.Binary" version="2.0.1768" targetFramework="net472" />
  <package id="RT.Serialization.Json" version="2.0.1768" targetFramework="net472" />
  <package id="RT.Serialization.Xml" version="2.0.1768" targetFramework="net472" />
  <package id="RT.Util" version="2.0.1768" targetFramework="net472" />
  <package id="RT.Util.Core" version="2.0.1768" targetFramework="net472" />
</packages>